{:kotoba.app/id "cloud.itonami.isic-0810", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib557f3ywz5cbf5ivfdtjrruwreovr3o2uanfk3gy7wzilz4qv56a", :kotoba.app/embed-url "ipfs://bafkreib557f3ywz5cbf5ivfdtjrruwreovr3o2uanfk3gy7wzilz4qv56a", :published {:archive "https://kotobase.net/ipfs/bafkreib557f3ywz5cbf5ivfdtjrruwreovr3o2uanfk3gy7wzilz4qv56a", :size 72483, :put-status 201, :get-status 200, :at "2026-08-15T13:40:26.927Z"}}
